{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Main/css/main.css' %}">
</head>
<body>
    <img src="{% static 'Main/img/1book.jpg' %}" alt="123">
    <p>Гаррі Поттер і філософський камінь</p>

    <img src="{% static 'Main/img/2book.jpg' %}" alt="123">
    <p>Гаррі Поттер і таємна кімната.</p>

    <img src="{% static 'Main/img/3book.jpg' %}" alt="123">
    <p>Гаррі Поттер і в'язень Азкабану.</p>

    <img src="{% static 'Main/img/4book.jpg' %}" alt="123">
    <p>Гаррі Поттер і келих вогню.</p>
</body>
</html>